@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>Click on the <a asp-page="./UserManagement">Users</a> tab to get started.</p>
</div>

<h3>Project Details</h3>
<br />
<h5>User Requirements</h5>
<ul>
    <li>
        A website for storing contact information for people in a SQL databaseoNote that running as localhostwithin Visual Studio is acceptable.
    </li>
    <li>
        Contact information records should include name, telephone, email address, mailing address.
    </li>
    <li>
        Ability to create new entries and view/edit/delete existing entries.
    </li>
</ul>
<h5>Technical Requirements</h5>
<ul>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core
        <ul>
            <li>SQL database, e.g., SQL Server Express, MySQL, SQLite, etc. </li>
            <li>Code-First Methodology</li>
        </ul>
    </li>
</ul>




